/reddog/pre_train/isaaclab/
reddog/simulation_plots/calf_joints_action_vs_pos.png
reddog/simulation_plots/hip_joints_action_vs_pos.png
reddog/simulation_plots/simulation_summary.png
reddog/simulation_plots/thigh_joints_action_vs_pos.png
